@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #dce2f2;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f2f2f2;
  font-weight: 700;
}

a {
  color: #dce2f2;
}

:root {
  /* color-scheme: light !important; */
  background-color: #0f1112;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #111826;
}

body::-webkit-scrollbar-thumb {
  background-color: #0070f3;
  border-radius: 5px;
  border: 2px solid #111826;
}
